@*
    
*@
@{

    @model LoginViewModel

    <div class="container mt-5 login-container">
        <h1 class="text-center">Вход</h1>
        <form asp-action="Login" method="post" class="mt-4">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" placeholder="Введите email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Пароль</label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Введите пароль">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                <label asp-for="RememberMe" class="form-check-label">Запомнить меня</label>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            @foreach (var error in modelState.Errors)
                            {
                                <li>@error.ErrorMessage</li>
                            }
                        }
                    </ul>
                </div>
            }

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
            <p class="text-center">
                <a asp-action="LoginWithGoogle" class="btn btn-danger">Войти через Google</a>
            </p>

            <p class="mt-3 text-center">
                Нет аккаунта? <a asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
            </p>
        </form>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


}
