@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Выход";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Вы успешно вышли из системы</h2>
                    <p class="card-text">Спасибо за использование нашего сервиса!</p>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>